include LICENSE
include README.rst
include MANIFEST.in pylintrc
include babel.cfg
include heat_jeos/jeos/F16-i386-gold-jeos.tdl
include heat_jeos/jeos/F17-i386-gold-jeos.tdl
include heat_jeos/jeos/F16-i386-cfntools-jeos.tdl
include heat_jeos/jeos/F17-i386-cfntools-jeos.tdl
include heat_jeos/jeos/F16-x86_64-gold-jeos.tdl
include heat_jeos/jeos/F17-x86_64-gold-jeos.tdl
include heat_jeos/jeos/F16-x86_64-cfntools-jeos.tdl
include heat_jeos/jeos/F17-x86_64-cfntools-jeos.tdl
include heat_jeos/jeos/U10-amd64-cfntools-jeos.tdl
include heat_jeos/cfntools/cfn-init
include heat_jeos/cfntools/cfn-hup
include heat_jeos/cfntools/cfn-signal
include heat_jeos/cfntools/cfn-get-metadata
include heat_jeos/cfntools/cfn-push-stats
graft docs
